.toolbar-spacer {
    flex-grow: 1;
}

.time-remaining {
    cursor: pointer;
    margin-right: 1rem;
}

.poweroff {
    cursor: pointer;
}

.battery {
    margin-right: 0.2em;
}

.powerdown-dialog-content {
    margin-bottom: 1rem;
}
